src/Views/Form/XSD/actions/button.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://rocket.com/rf-schema"
           xmlns="http://rocket.com/rf-schema"
           elementFormDefault="qualified">

    <xs:complexType name="ButtonType">
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="confirm" type="xs:string"/>
        <xs:attributeGroup ref="CommonAttributes"/>
    </xs:complexType>

    <xs:element name="button" type="ButtonType"/>

</xs:schema>
